.highlight-green {
    background: rgba(50, 205, 50, 0.5); /* Softer, more green and less yellow */
}

.highlight-lightred {
    background: rgba(240, 128, 128, 0.5); /* Light red with transparency */
}

.highlight-lightblue {
    background: rgba(173, 216, 230, 0.5); /* Light blue with transparency */
}

.highlight-lightyellow {
    background: rgba(255, 255, 224, 0.5); /* Light yellow with transparency */
}

.highlight-lightpurple {
    background: rgba(216, 191, 216, 0.5); /* Light purple with transparency */
}

.highlight-lightorange {
    background: rgba(255, 160, 122, 0.5); /* Light orange with transparency */
}

[data-cell-id='sidebar'], .dhx_sidebar--popup-menu {
    --dhx-h-background: 173;
    --dhx-s-background: 98.7%;
    --dhx-l-background: 30.4%;
    
    --dhx-background-primary: hsl(var(--dhx-h-background), var(--dhx-s-background), var(--dhx-l-background));
    --dhx-background-secondary: hsl(var(--dhx-h-background), var(--dhx-s-background), calc(var(--dhx-l-background) + 8%));
    --dhx-background-additional: hsl(var(--dhx-h-background), var(--dhx-s-background), calc(var(--dhx-l-background) + 12%));
    }
    
